@import "../../../styles/colors";

.tag {
  width: 70px;
  height: 25px;

  background-color: $prix-sat;
  border: none;
  border-radius: 10px;

  text-align: center;
  font-weight: 600;
  color: $white;
}
