@import '../../styles/colors';

.nav-item {
  width: auto;

  display: flex;
  align-items: center;

  font-family: Gilroy, Inter, sans-serif;

  position: relative;

  transition: all .1s ease-in-out;

  &:hover {
    cursor: pointer;
    height: 100%;
    color: #7D67EA;
  }


  &__link {
    color: inherit;
    text-decoration: none;
    transition: color .1s ease-in-out;
  }

  &__arrow {
    width: 15px;
    margin-left: 5px;
    color: $text-color-thirtiary;

    transition: all .3s ease-in-out;
  }
}
