@import "../../styles/colors";

.blog {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 50px 0;

  font-family: Fester, Inter, sans-serif;

  &__wrapper {
    max-width: 1200px;
  }

  &__heading {
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    padding: 0 16px;

    cursor: default;
  }
}

.arrow {
  font-family: sans-serif;
}

.route-back {
  width: 130px;
  color: $prix-sat;
  padding: 0 16px;

  transition: all .2s ease-in-out;

  &:hover {
    scale: 1.05;
    opacity: .8;
    cursor: pointer;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .blog {
    &__wrapper {
      display: block;
      width: 95%;
    }
  }

  .flex-container {
    display: block;
  }
}
