@font-face {
  font-family: 'Fester';
  font-weight: 200;
  src: url("../../public/fonts/Fester/Fester-ExtraLight.woff");
}

@font-face {
  font-family: 'Fester';
  font-weight: 400;
  src: url("../../public/fonts/Fester/Fester_Regular.woff");
}

@font-face {
  font-family: 'Fester';
  font-weight: 600;
  src: url("../../public/fonts/Fester/Fester_SemiBold.woff");
}

@font-face {
  font-family: 'Fester';
  font-weight: 800;
  src: url("../../public/fonts/Fester/Fester_Bold.woff");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 100;
  src: url("../../public/fonts/Gilroy/Gilroy-Thin.woff");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  src: url("../../public/fonts/Gilroy/Gilroy-UltraLight.woff");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url("../../public/fonts/Gilroy/Gilroy-Light.woff");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url("../../public/fonts/Gilroy/Gilroy-Medium.woff2");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url("../../public/fonts/Gilroy/Gilroy-Semibold.woff2");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  src: url("../../public/fonts/Gilroy/Gilroy-Extrabold.woff");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url("../../public/fonts/Gilroy/Gilroy-Heavy.woff");
}
