@import "../../styles/colors";

.journey-map {
  width: 100%;

  margin: 0 auto;
  padding: 40px 0;

  background-color: $main-gray;

  color: $black;
  font-family: Gilroy, Inter,sans-serif;

  &--grey {
    background-color: $light-gray-advantages;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 40px auto;

  display: flex;
  justify-content: space-around;

  &--flexReverse {
    flex-direction: row-reverse;
  }
}

.content {
  width: 600px;
  height: 490px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 70px 0;
  box-sizing: border-box;

  &__step {
    font-size: 90px;
    margin: 0;
  }

  &__description {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    z-index: 2;
    position: relative;
    margin: 0;
  }
}

.illustration {
  width: 520px;
  height: 520px;

  border-radius: 50px;
  background: -webkit-linear-gradient(90deg, #e8fafd,#d1fffc);
  background: linear-gradient(90deg, #e8fafd,#d1fffc);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 100px 80px;
  box-sizing: border-box;

  &--transparent {
    background-color: transparent;
  }

  &__urlInput {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__url {
    margin: 0;
    padding: 5px 25px;

    font-size: 28px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
  }

  &__svg {
    height: 40px;
  }

  &__image {
    scale: .8;
  }

  &__description {
    margin: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
}


.info {
  font-family: Gilroy, Inter, sans-serif;
  font-weight: bolder;
  width: 40%;
}

.title {
  width: 100%;
  font-size: 55px;

  margin: 0 0 30px;
  font-weight: 400;
}

.subtitle {
  width: 100%;
  font-size: 17px;
  line-height: 2rem;
  margin: 0 0 32px;
  font-weight: 800;
}

.text {
  width: 100%;
  font-size: 18px;
  font-weight: lighter;
  line-height: 2rem;
  color: $black;
  filter: brightness(87%);
}

.link {
  display: inline-block;

  padding: 10px;

  border: 1px solid $black;
  border-radius: 15px;
  color: $black;
  text-decoration: none;

  transition:  all .1s ease-in-out;

  &:hover {
    border-color: $gray-advantages;
    color: $black;
    background-color: $gray-advantages;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    width: 95%;
    flex-direction: column;
  }

  .info {
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 36px;
    font-weight: 800;
  }

  .subtitle {
    width: 100%;
    font-weight: 600;
  }

  .text {
    width: 100%;
  }

  .image-container {
    width: 100%;
    height: 200px;
    margin: 40px 0 0;
    overflow: hidden;
  }

  .image {
    object-fit: contain;
    max-width: 100%;
  }
}
