@import "src/styles/colors";

.header {
  background-color: $prix-header;
  position:-webkit-sticky;
  position:sticky;
  top:0;
  z-index: 10;

  &--white {
    background-color: $white;
    border-bottom: 2px solid $prix-header;
  }

  &__language {

    &-button {
      display: flex;
      justify-content: space-around;
      align-items: center;

      border-radius: 6px;
      background-color: $white;
      width: 80px;
      height: 32px;
      cursor: pointer;

      padding: 0;

      transition: all .2s ease-in-out;

      &:hover {
        scale: 1.08;
      }

      &:active {
        scale: 1.14;
        filter: brightness(.9);
      }
    }

    &-content {
      margin: 0;
      color: $prix-sat;

      font-weight: 600;
    }

    &-flag {
      width: 25px;

    }

    &-menu {
      display: flex;
      width: 80px;
      height: 32px;
      padding: 0;
    }

    &-container {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-list {
      list-style: nonne;
      padding: 0;
      margin: 0;

      width: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-color: $white;
      border-radius: 6px;

      color: $prix-sat;

      overflow: hidden;
    }

    &-item {
      display: flex;
      justify-content: space-around;
      padding: 10px 5px;

      max-width: 100%;

      transition: all .2s ease-in-out;

      &:hover {
        background-color: $prix-dark;
        color: $white;
        scale: 1.05;
        cursor: pointer;
      }
    }

    &-name {
      margin: 0;
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: transparent;
  opacity: .5;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(255, 255, 255, .2);
  box-sizing: border-box;
  width: calc(100% - 80px);

  margin: 0 auto;
  padding-right: 40px;

  font-family: Fester, Inter, sans-serif;
  font-size: 16px;
  color: $white;
}

.logo {
  color: $white;
  font-size: 60px;

  margin: 0;

  object-fit: contain;
  width: 100px;

  &--white {
    color: $prix-header;
  }
}

.menu-button {
  display: none;

  width: 42px;
  height: 42px;

  transform: translateY(7px);

  border: none;

  background-position: center;
  background-size: contain;
  background-color: transparent;

  transition: all .2s ease-in-out;
  object-fit: contain;

  &:active {
    scale: 0.95;
    opacity: .7;
  }

  &--close {
    width: 30px;
    height: 30px;

    opacity: .7;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}

.navigation {
  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 500px;
    padding: 24px;
  }

  &__item {
    font-size: 18px;
    transition: scale .2s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

.link {
  text-decoration: none;
  color: white;

  &--active {
    text-decoration: underline;
    font-weight: 600;
  }
}

@media screen and (max-width: 420px) {
  .header {
    width: 100%;
  }

  .content {
    width: 95%;
    align-items: center;
    padding: 0 15px;
  }

  .navigation {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
