@import "src/styles/colors";

.header {
  background-color: $prix-header;
}

.content {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgb(255, 255, 255, .2);
  box-sizing: border-box;
  width: calc(100% - 80px);

  margin: 0 auto;

  font-family: Fester, Inter, sans-serif;
  font-size: 16px;
  color: $white;
}

.logo {
  color: $white;
  font-size: 60px;

  margin: 0;

  object-fit: contain;
  width: 100px;
}

.navigation {
  &--list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 500px;
    padding: 24px;
  }

  &--item {
    font-size: 18px;
    transition: scale .2s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    width: 100%;
  }

  .content {
    width: 95%;
  }

  .navigation {
    display: none;
  }
}
