.header {
  background-color: #269AFF;
}

.content {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: calc(100% - 80px);

  margin: 0 auto;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}



.logo {
  color: #FFFFFF;
  font-size: 60px;

  margin: 0;

  object-fit: contain;
  width: 100px;
}

.navigation_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 500px;
  padding: 24px;
}

.navigation_item {
  font-size: 18px;
  transition: scale .2s ease-in-out;

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

//.header__button {
//  background-color: #0070f3;
//  border: none;
//  border-radius: 10px;
//
//  font-family: 'Fester', sans-serif;
//  font-weight: 800;
//  font-size: 16px;
//  color: #FFFFFF;
//
//  margin: 28px 0;
//  padding: 0 25px;
//}
//
//.header__button:hover {
//  cursor: pointer;
//  opacity: 0.9;
//}
