@import "src/styles/colors";

.intro {
  min-height: 720px;
  color: $black;
}

.wrapper {
  box-sizing: border-box;

  display: flex;

  min-height: 500px;
  max-height: 580px;

  padding: 75px 65px;

  border-radius: 50px;

  background: -webkit-linear-gradient(46deg, #f0f9ff,#f3e5ff);
  background: linear-gradient(46deg, #f0f9ff,#f3e5ff);
}

.content {
  height: 620px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__text {
    &-note {
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      color: $purple-sat;
    }

    &-title {
      margin: 20px 0;

      font-weight: 600;
      font-size: 60px;
    }

    &-subtitle {
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;

      margin: 10px 0;
    }
  }

  &__statistics {
    display: flex;
    justify-content: space-around;

    margin: 0 0 15px;
    padding: 0 50px;

    &-container {
      display: flex;
      justify-content: space-around;
      box-sizing: border-box;
      width: 40%;
    }

    &-title {
      margin: 0;

      font-size: 42px;
      font-weight: 500;
    }

    &-note {
      width: 40%;
      margin: 0;
    }
  }
}

.screen-simulator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  height: 626px;

  background-color: $white;

  border: 10px solid rgba(243, 229, 255, .5);;
  border-radius: 25px;
  box-sizing: border-box;

  padding: 20px 0;
}

.image {
  width: 50%;

  position: relative;
  left: 40px;

  scale: 1.2;
}

.search-button {
  width: 80%;

  border: 1px solid $gray-cards;
  border-radius: 10px;

  &__text {
    font-size: 12px;
    font-weight: 400;
    color: $gray-cards;
    text-align: center;
  }

}

@media screen and (max-width: 420px) {
  .intro {
    padding: 0;

    &__wrapper {
      height: 820px;
      max-height: 821px;
    }
  }

  .wrapper {
    width: 100%;
    height: 920px;
    padding: 45px;

    flex-direction: column;
    align-items: center;
    position: relative;

    text-align: center;

    border-radius: 0;
  }



  .content {
    justify-content: start;

    &__text {
      text-align: start;
      &-note {
        font-size: 18px;
        font-weight: 400;
      }

      &-title {
        font-size: 32px;
      }

      &-subtitle {
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
      }
    }

    &__statistics {
      margin: 40px 0;
      padding: 0;
      justify-content: start;

      &-container {
        margin-right: 20px;

        &:last-of-type {
          margin: 0;
        }
      }

      &-title {
        font-size: 24px;
      }

      &-note {
        font-size: 13px;
      }
    }
  }

  .screen-simulator {
    position: absolute;
    bottom: -263px;

  }
}
