.features {
  width: 100%;

  font-family: 'Fester', sans-serif;
  font-weight: 800;
  color: #000000;

  margin: 40px 0 80px;
}

.cards {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}
