@import "src/styles/colors";

.footer {
  width: 100%;
  font-family: Gilroy, Inter, sans-serif;
  background-color: $light-gray-advantages;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px
}

.holding-info {
  max-width: 30%;

  &--title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
  }

  &--description {
    font-weight: 400;
    font-size: 20px;
    opacity: .6;
  }
}

.lists {
  width: 60%;

  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  opacity: .6;

  &--title {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 20px;
    cursor: default;
  }
}

.link {
  margin: 20px 0 0;

  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .5;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid $gray-blog;
}

.copyright {
  font-weight: 400;
  font-size: 18px;
  opacity: .6;
}

.anchor {
  width: 100%;
  height: 100%;

  text-decoration: none;
  color: black
}

@media screen and (max-width: 420px) {
  .wrapper {
    max-width: 90%;
  }

  .flex {
    flex-direction: column;
  }

  .holding-info {
    max-width: 100%;
  }

  .lists {
    width: 100%;
    justify-content: space-between;
  }

  .list {
    &--title:nth-of-type(2n) {
      text-align: center;
      color: blue;
    }
  }

  .bottom {
    flex-direction: column-reverse;
  }

  .copyright {
    text-align: center;
  }
}
