@import "src/styles/colors";

.footer {
  width: 100%;
  font-family: Fester, Inter, sans-serif;
  background-color: $light-gray-advantages;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px
}

.holdingInfo {
  width: 30%;

  &--title {
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  &--description {
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5rem;
  }
}

.lists {
  width: 60%;

  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  font-weight: 200;

  &--title {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    margin: 0 0 30px;
    cursor: default;
  }
}

.link {
  margin: 20px 0 0;

  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .5;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid $gray-blog;
}

.copyright {
  font-weight: 200;
  font-size: 14px;
}

.social {
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style: none;
}

.icon {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 15px;

  transition: all .3s ease-in-out;

  &:hover {
    scale: 1.05;
    background-color: $gray-blog;
  }
}
.anchor {
  text-decoration: none;
  color: black
}
