.strategy {
    margin: 140px auto;
    max-width: 1200px;

    &__title {
        font-size: 56px;
        line-height: 60px;

        margin: 0 0 60px;

        &-line {
            display: block;
            position: relative;

            &--underlined {
                display: inline;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;

                    left: 0;
                    bottom: 5px;

                    white-space: nowrap;
                    height: 30px;

                    border-bottom: 15px solid #00cbb1;
                    line-height: 15px;

                    z-index: -1;
                }
            }
        }
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 70px;

        padding: 0;
        margin: 0;

        &-item {
            display: flex;
            flex-direction: column;
            list-style: none;

            &-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 8px;
            }

            &-subtitle {
                opacity: .6;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
